<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @section.number %>
</p>

<p>
  <strong>Body:</strong>
  <%= @section.body %>
</p>

<p>
  <strong>Creative:</strong>
  <%= @section.creative.name %>
</p>

<%= link_to 'Edit', edit_creative_section_path(@section.creative_id, @section) %> |
<%= link_to 'Back', creative_path(@section.creative_id) %>
