<h1>Listing creatives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Creatives</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @creatives.each do |creative| %>
      <tr>
        <td><%= creative.name %></td>
        <td><%= creative.description %></td>
        <td><%= creative.sections.to_a.to_s %></td>
        <td><%= link_to 'Show', creative, class: "button radius"%></td>
        <td><%= link_to 'Edit', edit_creative_path(creative), class: "button" %></td>
        <td><%= link_to 'Destroy', creative, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creative', new_creative_path, class: "button radius" %>
