  <fieldset>
    <legend align="center">
      <h2>
        <%= @creative.name %>
      </h2>
    </legend>
    <h5>Автор:
      <span class="alert label radius"><%= link_to @creative.user.user_name, @creative.user %></span>
      Теги:
      <span class="label radius">Программирование</span>
      <span class="success label radius">Еще что-то</span>
      <span class="label radius">И еще...</span>
    </h5>

    <p>
      <%= @creative.description %>
    </p>
    <h3><%= t('.chapters') %></h3>
    <div data-magellan-expedition="fixed" align="center">
      <dl class="sub-nav" style="margin-left:20%;">
        <% @sections.each do |section| %>
          <dd data-magellan-arrival="chapter_<%= section.number+1 %>"><%= link_to section.name, :anchor => "chapter_#{section.number+1}" %></dd>
        <% end %>
      </dl>
    </div>
    
    <% @sections.each do |section| %>
        <fieldset>
        <legend align="center" data-magellan-destination="chapter_<%= section.number+1 %>"><h3 id="chapter_<%= section.number+1 %>"><%= section.name %></h3></legend>
          <p><%= markdown(section.body) %></p>
        </fieldset>
    <% end %>
  </fieldset>
  <%= link_to 'Вернуться', creative_path(@creative), :class => "small button secondary" %>
