<div class="row">
  <fieldset>
    <legend align="center">
      <h2>
        <%= @creative.name %>
      </h2>
    </legend>
    <h5>Автор:
      <span class="alert label radius"><%= link_to @creative.user.user_name, @creative.user %></span>
      Теги:
      <span class="label radius">Программирование</span>
      <span class="success label radius">Еще что-то</span>
      <span class="label radius">И еще...</span>
    </h5>

    <p>
      <%= @creative.description %>
    </p>

    <!--
    <a class="th radius" href="#">
      <span class="alert label">Тут картинка будет</span>
    </a>
    -->
    <% if current_user.try(:id) == @creative.user_id %>
      <%= link_to t('.add_section'), new_creative_section_path(@creative), :class => "small button primary"  %>
      <%= link_to t('.edit'), edit_creative_path(@creative), :class => "small button alert"  %>
    <% end %>
    <% @creative.sections.each do |section| %>
        <fieldset>
          <legend align="center"><h3><%= section.name %> (порядок: <%= section.number %>)</h3></legend>
          <p><%= markdown(section.body) %></p>
          <% if current_user.try(:id) == @creative.user_id %>
            <ul class="button-group radius right">
              <li><%= link_to t('.edit-s'), edit_creative_section_path(@creative, section), :class => "tiny button" %></li>
              <li><%= link_to t('.destroy-s'), creative_section_path(@creative, section), method: :delete, data: { confirm: t('are_you_sure') }, :class => "tiny button alert" %></li>
            </ul>
          <% end %>

        </fieldset>
       
    <% end %>
    <br>
    <div id="comments">
      <%= render :partial => @comments, :locals => { :list => true } %>
    </div>
    <hr />
 
    <div id="comment-notice"></div>
     
    <fieldset>
    <h5><%= t('.please_comment') %></h5>
      <%= form_for @new_comment, :url => creative_comments_path(@creative), remote: true do |f| %>
          <%= f.text_area :body, :rows => 8, :required => true%><br />
          <button type="submit" class="tiny button success radius"><%= t('.add') %></button>
      <% end %>
    </fieldset>
  </fieldset>
  <%= link_to 'Вернуться', creatives_path, :class => "small button secondary" %>
</div>
