<div class="row">
  <fieldset>
    <legend align="center">
      <h2>
        <%= @creative.name %>
      </h2>
    </legend>
    <div class="">
    <h5>Автор:
      <span class="alert label radius"><%= link_to @creative.user.user_name, @creative.user %></span>
      Теги:
      <span class="label radius">Программирование</span>
      <span class="success label radius">Еще что-то</span>
      <span class="label radius">И еще...</span>
    </h5>

    <%= link_to t('.read'), read_creative_path(@creative),  'data-skip-pjax' => "", :class => "medium button success round right" %>
    <p>
      <%= @creative.description %>
    </p>

    <div class="row">
      <div class="medium-12 columns">
        <% if @creative.author?(current_user) %>
          <%= link_to t('.add_section'), new_creative_section_path(@creative), 'data-skip-pjax' => "", :class => "medium-2 small button primary round"  %>
          <%= link_to t('.edit'), edit_creative_path(@creative), :class => "medium-2 small button alert round"  %>
        <% end %>
      </div>
      <div class="medium-12 columns">
        <div id="sortable-grid" class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 main" data-url="<%= reorder_path(@creative) %>">
          <% @sections.each do |section| %>
            <li id="<%= section.id %>">
              <div class="th panel chapter-item">
                  <% if @creative.author?(current_user) %>
                    <ul class="button-group radius right">
                      <li><%= link_to t('.edit_s'), edit_creative_section_path(@creative, section), 'data-skip-pjax' => "", :class => "tiny button" %></li>
                      <li><%= link_to t('.destroy_s'), creative_section_path(@creative, section), method: :delete, data: { confirm: t('are_you_sure') }, :class => "tiny button alert" %></li>
                    </ul>
                  <% end %>
                  <h3><%= link_to section.name, read_creative_path(@creative, :anchor => "chapter_#{section.number+1}") %></h3>
                  <p class="markdown-source"><%= section.body %></p>
              </div>
            </li>
          <% end %>
        </div>
      </div>
    </div>

    <hr />

    <ul class="clearing-thumbs" data-clearing>
      <% if @creative.pictures.empty? %>
        <%= content_tag :h3, t('.no_pictures') %>
      <% else %>
        <% @creative.pictures.each do |pic| %>
          <li><a class="th" data-skip-pjax href="<%= pic.file.url%>"><img data-caption="<%= pic.file.to_s %>" src="<%= pic.file.thumb.url %>"></a></li>
        <% end %>
      <% end %>
    </ul>
    <%= link_to t('.addedit-pictures'), creative_pictures_path(@creative),:class => "button info round", 'data-skip-pjax' => "" if @creative.author?(current_user)%>
    <hr />

    <ul class="clearing-thumbs medium-6 columns" data-clearing>
      <% if @comments.empty?%>
        <%= content_tag :h2, t('.no_comments')%>
      <% else %>
        <%= content_tag :h3, t('.comments')%>
      <% end %>
      <div id="comments">
          <%= render :partial => @comments, :locals => { :list => true } %>
        </div>
    </ul>
    
    <% if current_user %>
      <div class="medium-6 columns">
        <h5><%= t('.please_comment') %></h5>
          <%= form_for @new_comment, :url => creative_comments_path(@creative), remote: true do |f| %>
              <%= f.text_area :body, :rows => 8, :required => true%><br />
              <button type="submit" class="tiny button success radius"><%= t('.add') %></button>
          <% end %>
      </div>
      <div id="comment-notice"></div>
    <% end %>
    

    
  </fieldset>
  <%= link_to 'Вернуться', creatives_path, :class => "small button secondary" %>
</div>
