<div class="row">
  <fieldset>
    <legend align="center">
      <h2>
        <%= @creative.name %>
      </h2>
    </legend>
    <div class="">
    <h5>Автор:
      <span class="alert label radius"><%= link_to @creative.user.user_name, @creative.user %></span>
      Теги:
      <span class="label radius">Программирование</span>
      <span class="success label radius">Еще что-то</span>
      <span class="label radius">И еще...</span>
    </h5>
    <%= link_to t('.read'), read_creative_path(@creative), :class => "medium button success round right" %>
    
    <p>
      <%= @creative.description %>
    </p>

    <div class="row">
      <div class="medium-12 columns">
        <% if @creative.author?(current_user) %>
          <%= link_to t('.add_section'), new_creative_section_path(@creative), :class => "medium-2 small button primary round"  %>
          <%= link_to t('.edit'), edit_creative_path(@creative), :class => "medium-2 small button alert round"  %>
        <% end %>
      </div>
      <div class="medium-12 columns">
        <div id="sortable-grid" class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" data-url="<%= reorder_path(@creative) %>">
          <% @sections.each do |section| %>
            <li id="<%= section.id %>" class="chapter-drag">
              <div class="th chapter-item">
              <div class="panel chapter-item">
                  <h3><%= link_to section.name, read_creative_path(@creative, :anchor => "chapter_#{section.number+1}") %></h3>
                  <p><%= markdown(section.body) %></p>
                  <% if @creative.author?(current_user) %>
                    <ul class="button-group radius">
                      <li><%= link_to t('.edit-s'), edit_creative_section_path(@creative, section), :class => "tiny button" %></li>
                      <li><%= link_to t('.destroy-s'), creative_section_path(@creative, section), method: :delete, data: { confirm: t('are_you_sure') }, :class => "tiny button alert" %></li>
                    </ul>
                  <% end %>
              </div>
              </div>
            </li>
          <% end %>
        </div>
      </div>
    </div>
    <hr />
    <h2><%= t('.comments')%></h2>
    <div id="comments">
      <%= render :partial => @comments, :locals => { :list => true } %>
    </div>

    <% if current_user %>
      <hr />
   
      <div id="comment-notice"></div>
       
      <fieldset>
      <h5><%= t('.please_comment') %></h5>
        <%= form_for @new_comment, :url => creative_comments_path(@creative), remote: true do |f| %>
            <%= f.text_area :body, :rows => 8, :required => true%><br />
            <button type="submit" class="tiny button success radius"><%= t('.add') %></button>
        <% end %>
      </fieldset>
    <% end %>
  </fieldset>
  <%= link_to 'Вернуться', creatives_path, :class => "small button secondary" %>
</div>
